.sectionContainer {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  
  .previewArea {
    border: 1px solid #ddd;
    padding: 10px;
    min-width: 30%;
    overflow: visible;
    min-height: 768px;
    width: 100%;
  }

  .editorContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title {
    position: absolute;
  }