/* components/ProfileCard.module.css */
.title {
  text-wrap: balance;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  margin: auto;
  flex: 1;
  margin-top: 10px;
}

.textSection {
  flex: 1;
}

.heading {
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: bold;
}

.text {
  font-size: 32px;
  margin-bottom: 8px;
}

.imageSection {
  margin-left: 16px;
}

.image {
  object-fit: cover;
}
